:root {
  --hue: 240;
  --md-sys-color-on-background: hsl(var(--hue), 29%, 90%);
  --md-sys-color-background: hsl(var(--hue), 88%, 10%);
  --default-space: 1rem;
  --half-space: 0.5rem;
  --quarter-space: 0.5rem;
  --border-radius: 10px;
  --md-sys-color-inverse-primary: hsl(var(--hue), 93%, 39%);
  --md-sys-color-primary: hsl(var(--hue), 78%, 30%);
  --md-sys-color-on-primary: hsl(var(--hue), 100%, 88%);
  --md-sys-color-secondary: hsl(var(--hue), 86%, 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --hue: 150;
    --md-sys-color-on-background: hsl(var(--hue), 29%, 90%);
    --md-sys-color-background: hsl(var(--hue), 88%, 10%);
    --default-space: 1rem;
    --half-space: 0.5rem;
    --quarter-space: 0.5rem;
    --border-radius: 10px;
    --md-sys-color-inverse-primary: hsl(var(--hue), 93%, 39%);
    --md-sys-color-primary: hsl(var(--hue), 78%, 30%);
    --md-sys-color-on-primary: hsl(var(--hue), 100%, 88%);
    --md-sys-color-secondary: hsl(var(--hue), 86%, 85%);
  }
}
